{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": true,
  "printWidth": 120,
  "endOfLine": "lf",
  "svelteSortOrder" : "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false
}
